html {padding: 10px 10px 200px; font-family: droid sans, sans-serif; }
body {margin: 0 auto; max-width: 580px; }
div.article > *:first-child {margin-top: 0; }
div.article p {line-height: 1.4em; font-size: 17px; }
div.article li {margin-bottom: 0.3em; line-height: 1.4em; font-size: 16px; }
