/*! simple.css | MIT License | github.com/chrisbroski/simple-css/ */
* {box-sizing: border-box; }
html {padding: 10px 10px 200px; font-family: droid sans, sans-serif; }
body {margin: 0 auto; max-width: 580px; }
article > *:first-child {margin-top: 0; }
li {margin-bottom: 0.3em; line-height: 1.4em; font-size: 16px; }
h1 {font-size: 36px; }
h2 {padding-bottom: 0.2em; border-bottom: 1px solid #bbb; font-size: 28px; }
h3 {font-size: 24px; }
h4 {padding: 0.2em; background: #eee; font-size: 20px; }
p, h5 {line-height: 1.4em; font-size: 17px; }
pre {padding: 1em; background: #eee; overflow: auto; }
blockquote {margin: 16px 0; padding: 0 15px; color: #777; border-left: 4px solid #ddd; }
table {border-collapse: collapse; }
table td {border: 1px solid #ddd; padding: 6px 13px; }
